.titre{
	font-size: 48px;
	text-align: center;
	color: red;
	margin-top: 60px;

}

.navigation{
	position: fixed; /* La barre de navigation est fixée en haut de l'écran*/
	height: 40px;
	background-color: gray;
	top : 0;
	left: 0;
	right: 0;
}

.main{
	font-family: arial,verdana;sans-serif;
}

.intro{
	font-size: 20px;
	text-align: center;
}

.footer{
	font-size: 10px;
	text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
	
}

.menu{
	display:flex;
	height: 10px;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	justify-content: center;
	color: red;
	text-decoration: none,

}

.menulink{
	text-decoration: none;
	color: red;
	margin-left: 10px;
	margin-right: 10px;
}

.menu_button{
	color: red;
	margin: auto;
	text-align: : center;
	text-decoration: none;
}

.menu2{
	display: block;
	margin:auto;
	text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}